@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* General Styles */

body {
    size: 10%;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
    background-color: #22272b;
}
.logo img{
    height: 50px;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

/* Header Styles */
header {
	background-color: #211f1e;
	padding: 20px;
	display: flex;
	width: 92%;
	position: fixed;
	margin-right: 10%;
	padding-right: 10%;
}
nav {
    height: 50px;
	padding-left: 25%;
	
  }
  
  nav ul {
    margin: 0;
    padding-right: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
	padding-bottom: 30%;
    height: 100%;
  }
  
  nav li {
    margin: 0 50px;
  }
  
  nav a {
	display: block;
	padding: 10px;
	border: 2px solid #ffffff00;
	border-radius: 20px;
	border-color: #ffffff89;
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s ease;
  }
  
  nav a:hover {
	background-color: #4CAF50;
	color: #fff;
  }
  form {
	display: flex;
	align-items: center;
  }
  
  input[type="text"] {
	padding: 8px;
	border: none;
	border-radius: 4px;
	margin-right: 4px;
	font-size: 16px;
  }
  
  button[type="submit"] {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #4CAF50;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #ffffff;
	color:#4CAF50;
  }
 

/* Hero Section Styles */
#hero {
	background-image: url(desktop-1024x576.jpg);
	background-size: cover;
    height: 660px;
	background-position: center;
	color: #ffffff;
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

#hero h2 {
	color: #351414;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #f6ff43,
               0 0 70px #007bff,
               0 0 80px #f6ff43,
               0 0 100px #007bff,
               0 0 150px #f6ff43;
    font-family: 'Poppins', sans-serif;
	font-size: 40px;
	
}	

.highlight {
	color: brown;
  }
  

.button {
	margin-top: 100px;
	border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    transition: all 0.3s ease;
	
  }

  .button:hover {
    background-color: #3e8e41;
    cursor: pointer;
  }


/* About Section Styles */
#about {
	background-image: url(felipe-simo-ktltWUbd1lk-unsplash.jpg);
	background-size: cover;
    height: 660px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	
}

.title {
	display: inline-block;
	background-color: #4CAF50;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 200px;
	margin-left: 43%;
	margin-top: 90px;
  }
  
  h2 {
	margin: 0;
	color: #ffffff;
  }
  
.container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;
  }
  
  .column {
	flex-basis: 30%;
  }
  
  p {
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	text-align: justify;
  }
  

/* Cars Section Styles */
#cars {
	background-image: url(aston_martin_a8_aston_martin_bw_149963_2560x1440.jpg);
	background-size: cover;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#cars h2{
	margin-top: 100px;
	display: inline-block;
	background-color: #4CAF50;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 200px;
	
	margin-top: 90px;
}
#cars li {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	
}

#cars h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
}

#cars img {
	max-width: 100%;
	margin-bottom: 20px;
}

/* Contact Section Styles */
#contact {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#contact h2{
	display: inline-block;
	background-color: #4CAF50;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 200px;
}

#contact label {
	margin-bottom: 10px;
	color: #ffffff;
}

#contact input, #contact textarea {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border: none;
	border-radius: 5px;
}

#contact button {
	margin-top: 20px;
}
.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	color: #fff;
	background-color: #3b5998;
	text-decoration: none;
  }
  
  .social-icon.twitter {
	background-color: #1da1f2;
  }
  
  .social-icon.instagram {
	background-color: #e1306c;
  }
  
  .social-icon i {
	font-size: 24px;
  }
  

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	padding-left: 40%;
	animation: blink 1s infinite;

}
@keyframes blink {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
